.Profile {
    text-align: center;
    width: 30em;
    margin: 5em auto 0;
}

.Profile h1 {
    margin-bottom: 2em;
}


.Profile .Info .InfoField {
    margin-bottom: 1.3em;
    font-size: 1.4em;
    text-align: left;
}

.Profile .Info .InfoField .Name {
    display: inline-block;
    width: 50%;
    margin: 0
}