.NavigationBar {
    background-color: var(--black-color);
    padding: 0.7em;
    overflow: hidden;
    min-height: 2.6em;
}

.NavigationBar .NavigationLink {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em;
}

.NavigationBar .Left .NavigationLink {
    float: left;
}

.NavigationBar .Right .NavigationLink {
    float: right;
}


/*
    min-height recalc = font-size + 2 * margin + padding of navbar - 1= 1.2 + 1 + 1.4 -1 = 3.6
 */