.Popup{
    min-width:100vw;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    right: 0;
    top:0;
}
.Popup .PopupContent{
    width: 30rem;
    height: 5rem;

    border-radius:5px;
    background-color: #c5c5c5;
    box-shadow: 0 0 10px #000;

    text-align: center;
    font-size: 1.2rem;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Popup .PopupContent .DeleteForm  {
    display: flex;
    flex-direction: row-reverse;
}

.Popup .PopupContent .DeleteButton {
    margin: 0.2rem;
    background-color: #c5c5c5;
    padding: 0;
    border: none;
}
.Popup .PopupContent .DeleteButton:hover {
    background-color: #ff726f;
}


.Popup .PopupContent .PopupMessage {
    margin: 0 1.1rem 1.1rem;
}