.CoursesCatalog {
    width: 60em;
    margin: 5em auto 0;
}

.CoursesCatalog .List {
    list-style-type: none;
}

.CoursesCatalog .CourseDescription {
    text-align: left;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--block-separator-color);
}

.CoursesCatalog .CourseDescription p {
    text-align: left;
    display: inline-block;
    overflow-wrap: anywhere;
}


.CoursesCatalog .CourseDescription .NavigationLink {
    color: black;
}

.CoursesCatalog .CourseDescription .NavigationLink:hover {
    color: var(--hover-link-color);
}

