.NavigationBar {
    margin: 0;
    background-color: #333;
    padding: 0.7em;
    overflow: hidden;
}

.NavigationItem {
    font-size: 1.2em;
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    height: 100%;
    margin: 0.5em;
    display: inline-block;
}

.NavigationItem:hover {
    color: #4169e1;
}